.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-800: #37474f;
    --blue-grey-900: #263238;
    --annie-setter: #78909C;
    --ed-text-color: #EDEDED;

    --header-background: #111111;
    --footer-background: #191919;
    --white: #ffffff;
}

.container {
    max-width: 75rem;
    min-width: 27.5rem;
    margin: 0 auto;
}

/*Header remains the same for all pages per assignment specs*/

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--footer-background);
    color: var(--white);
    padding: 2rem 2.5rem;
    justify-content: center;
}

.logo-text-header {
    font-family: "Libre Baskerville", serif;
    font-size: 5.5em;
    margin-top: 1rem;
    margin-bottom: 0;
    color: var(--white);
}

header img {
    max-width: 6.5em;
    max-height: 6.5em;
    margin-top: 3rem;
    padding-bottom: 2.5rem;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav a {
    font-size: 1.2rem;
    justify-content: center;
}

h2,
body {
    color: #000;
    text-align: center;
}

h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 2.8rem;
    margin-top: 0;

}

h2:first-child {
    padding-top: 4rem;

}

h3 {
    font-size: 1.5rem;
}

section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.asterisk {
    font-size: 4rem;
    margin: 0rem;
    max-height: 4rem;
}

.asterisk-first {
    padding-top: 6rem;
    margin-top: 0rem;
    font-size: 4rem;
    max-height: 4rem;
}

section p {
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

.annie-setter {
    padding-bottom: 4rem;
    background-color: var(--annie-setter);
    color: var(--blue-grey-50);
}

.annie-setter p {
    margin-bottom: 1rem;
}

.annie-setter h2 {
    color: var(--blue-grey-50);
}

section:first-child {
    background-color: var(--blue-grey-50);
}

main section img {

    border-radius: 2rem;
    margin: 3rem 0rem;
    padding: 2rem 0rem;
}

a {
    padding: 1.5rem 2rem;
    background-color: var(--header-background);
    border-radius: .60rem;
    text-decoration: none;
    color: var(--blue-grey-50);
}

.your-world {
    font-size: 2.5rem;
    margin-top: 0rem;
}

.section-two {
    background-color: var(--blue-grey-100);
    padding-bottom: 2rem;
}

.section-two img {
    margin-bottom: 0rem;
}

.asterisk-left {
    text-align: left;
    font-size: 4rem;
    margin: 0rem;
    max-height: 4rem;
}

.list-heading {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

ul {
    padding: 0rem 1.5rem;
}

li {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

span {
    font-weight: bold;
    font-size: 1.2rem;
}

.section-three {
    background-color: var(--blue-grey-900);
    padding: 5rem 2.5rem;
}

.section-three div {
    border: #fff solid 2px;
    background-color: white;
    border-radius: .60rem;
    padding: 0rem 2rem 6rem 2rem;

}

/*Footer remains the same for all pages per assignment specs*/
.logo-text {
    font-family: "Libre Baskerville", serif;
    font-size: 5em;
    margin-top: 1rem;
    margin-bottom: 0;
    color: var(--white);
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--footer-background);
    color: var(--white);
    padding: 2rem 2.5rem;
}

footer img {
    width: 9em;
    height: 5em;
    padding-left: 1rem;
    margin-top: 2rem;

}

footer:nth-child(3) {
    color: var(--blue-grey-200);
    text-align: left;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--white);

    width: 100%;
}

footer ul {

    padding-left: 0rem;
    padding-right: 20%;
}

footer ul:last-child {
    padding-right: 0rem;
}

footer li {
    font-size: 1rem;
    list-style-type: none;
    text-align: left;
}

footer li a {
    padding: 0;
}

footer nav ul li:first-child {
    font-weight: bold;
    font-size: 1.3rem;
}

footer p:last-child {
    color: var(--blue-grey-200);
    text-align: center;
}


/*THE FOLLOWING CSS IS FOR GALLERY PAGE*/

.gallery-container {
    max-width: 75rem;
    min-width: 27.5rem;
    margin: 0 auto;
}

.gallery-one {
    padding-bottom: 3rem;
}

.gallery-one h2 {
    margin: 0 auto;
    padding-top: 6rem;
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;
    font-weight: 500;
}

.gallery-one img {
    margin: 0 auto;
    padding-top: 2.5rem;
}

.gallery-one p,
.gallery-one h3 {
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.gallery-one h3 {
    padding-bottom: 2rem;
}

.gallery-two h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.gallery-three {
    background-color: var(--annie-setter);
    text-align: left;
    color: var(--white);
    padding-bottom: 2rem;
}

.gallery-three h2 {
    padding-top: 5rem;
    color: var(--white);
    font-family: "Libre Baskerville", serif;
    text-align: left;
    font-size: 3rem;
}

.gallery-three p {
    margin-bottom: 2rem;
}

.gallery-four {
    background-color: var(--blue-grey-900);
    padding-bottom: 1.5rem;
}

.gallery-four h2 {
    font-family: "Libre Baskerville", serif;
    text-align: left;
    color: var(--white);
}

.gallery-four img {
    width: 100%;
    margin: 0 auto;
}

.gallery-four li {
    color: var(--white);
}

.gallery-four p {
    text-align: left;
    color: var(--ed-text-color);

}

/*HOME PAGE*/
@media screen and (min-width:720px) {
    header {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0rem 0rem 2rem 2rem;
    }

    .logo-text-header {
        font-family: "Libre Baskerville", serif;
        font-size: 4em;
        margin-top: 1rem;
        margin-bottom: 0;
        color: var(--white);
    }

    header img {
        max-width: 5em;
        max-height: 6em;
        margin-top: 2rem;
        padding-bottom: 1.8rem;
    }

    header nav {
        display: flex;
        justify-content: flex-end;
        width: 58%;
        align-items: flex-end;
    }

    header nav a {
        font-size: 1rem;
        padding: 1rem;
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    section p {
        font-size: 1.2rem;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .flex-container div {
        width: 45%;
        text-align: left;
    }

    .flex-container p {
        margin: 0rem;
    }

    section:nth-child(2) {
        padding-bottom: 4rem;
    }

    .your-world {
        margin-bottom: 0rem;
    }

    .flex-container-two {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-container-two div {
        width: 50%;
        margin-bottom: 1rem;
    }

    .list-heading {
        margin-top: 0rem;
    }

    .flex-container-two img {
        width: 50%;
        height: 50%;
    }

    .reverse-flex {
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .reverse-flex div {
        width: 50%;
        margin-bottom: 1rem;
    }

    .reverse-flex img {
        width: 50%;
        height: 50%;
    }

    .section-three div {
        width: 80%;
        margin-left: 8vw;
        padding-bottom: 5rem;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer nav {
        order: 1;
        width: 45vw;
        padding-left: 2rem;
        justify-content: flex-end;
    }

    footer p:nth-child(3) {
        order: 2;
        width: 21em;
        justify-content: center;
        margin-top: 0rem;
        font-size: .75rem;
    }

    footer p:last-child {
        order: 3;
        font-size: .75rem;
        width: 68%;
        margin-left: 15%;
    }

    .logo-text {
        width: 12rem;
        height: 40%;
        font-size: 4.5rem;
    }

    footer img {
        width: 17%;
        padding-left: 0rem;
        margin-top: 1.5rem;
    }

    footer ul {
        padding-right: 2.5rem;
        margin-bottom: 0rem;
        height: 4rem;
    }

    footer ul:last-child {
        padding: 0rem;
    }

    footer li {
        margin: .2rem;
        font-size: .75rem;
        padding-bottom: .5rem;
    }

    footer nav ul li:first-child {
        font-size: 1rem;
    }
}

/*GALLERY PAGE*/
@media screen and (min-width:720px) {

    .gallery-one h2 {
        padding-top: 3rem;
    }

    .gallery-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .gallery-flex div {
        width: 50%;
    }

    .gallery-flex h3 {
        margin: 0rem;
        padding-bottom: 0rem;
        margin-top: 2rem;
    }

    .gallery-flex img {
        width: 47%;
        height: 35vh;
        margin: 0rem;
    }

    .gallery-reverse-flex {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: flex-end;
    }

    .gallery-reverse-flex img {
        width: 47%;
        height: 35vh;
    }

    .gallery-reverse-flex div {
        width: 47%;
    }

    .gallery-reverse-flex h3 {
        margin: 0rem;
        padding-bottom: 0rem;
        margin-top: 2rem;
    }

    .gallery-reverse-flex-image {
        display: flex;
        flex-direction: column;
    }

    .gallery-reverse-flex-image img {
        width: 100%;
        margin-top: 0rem;
        padding-bottom: 1rem;
        border-radius: 0rem;
    }

    .gallery-reverse-flex-image p {
        margin-top: 0rem;
    }

    .gallery-two h2 {
        padding-bottom: 0rem;
        margin-bottom: 0rem;
    }

    .gallery-three {
        height: 62rem;
    }

    .gallery-three div {
        display: flex;
        flex-direction: column;
        height: 53rem;
        flex-wrap: wrap;
        gap: 1rem;
        width: 48%;
    }

    .gallery-three h2 {
        font-size: 2.5rem;
        text-align: center;
        width: 100%;
        padding-top: 3rem;
        margin-bottom: 0rem;
    }

    .gallery-three div p {

        width: 100%;
        height: 34vh;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }



    .gallery-four div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 70rem;
        gap: 1rem;
    }

    .gallery-four h2 {
        text-align: center;
    }

    .gallery-four div img {
        width: 49%;
        margin: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        border-radius: 0rem;
    }

    .gallery-four div img:first-child {
        height: 65rem;
    }

    .gallery-four ul {
        width: 55%;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .gallery-four div li {
        width: 100%;
    }

    .hide-me {
        display: none;
    }

    .gallery-four p {
        width: 48%;
        margin-top: 0rem;
    }
}

/*HOME PAGE*/
@media screen and (min-width:960px) {

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex-container div {
        width: 30%;

    }

    .flex-container-two {
        flex-wrap: wrap;
    }

    .flex-container-two div {
        width: 28em;

    }

    .flex-container-two img {
        width: 26em;
        height: 20em;
        margin-top: 0rem;
    }

    .reverse-flex {
        flex-wrap: wrap;
    }

    .reverse-flex div {
        width: 28em;
        margin-bottom: 0rem;
    }

    .reverse-flex img {
        width: 26em;
        height: 20em;
        margin-top: 0rem;
    }

    .reverse-flex li:last-child {
        margin-bottom: 0rem;
    }

    .architecture-container {
        display: flex;
        flex-direction: row;
    }

    footer p:nth-child(3) {
        width: 28%;
    }

    footer p:last-child {
        padding-top: 3rem;
        width: 54em;
        justify-content: center;
    }
}

/*GALLERY PAGE*/
@media screen and (min-width:960px) {

    .gallery-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .gallery-three {
        height: 45rem;
    }

    .gallery-three div {
        height: 43.5rem;
    }

    .gallery-three div p {
        height: 18rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .gallery-three h2 {
        margin-bottom: 1rem;
    }

    .gallery-four div {
        height: 62rem;

    }

    .gallery-four div img:first-child {
        height: 57rem;
    }

    .gallery-four div ul {
        padding-right: 3rem;
    }

}